$link-bottom-margin: 10px;
$link-right-margin: 10px;
.projects{
    background-color: rgb(188, 58, 58);
    padding: 50px;
.section-heading{
    color: #fcf9f9;
    padding-top: 60px;
    padding-left: 100px;
}
.project-container{
    display: flex;
    justify-content:space-around;
    gap: 50px;
    flex-direction:row;
    padding: 100px 100px 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .projects-1{
        position: relative;
        border: 1px solid rgb(99, 13, 13);
        box-shadow: 0 10px 20px rgb(0,0,0,1);
        padding: 70px;
        background-color:  rgb(168, 29, 29);
             h4{
                color: #ffff; 
                transition: color 0.3s ease;
             }
       .project-link{
        position: absolute;
        color:  #181818;
        text-decoration: underline;
        bottom: $link-bottom-margin;
        right: $link-right-margin;
        opacity: 0; 
        transition: opacity 0.3s ease;
       }
       &:hover{
            h4{
                color:  rgb(188, 58, 58);     
            }
        .project-link{
            color: #181818;
            opacity: 1;
        }
       }
    }
}
}

@media(max-width:768px) {
    .projects{
        padding: 10px;
         
        .project-container{
            padding: 30px 50px 80px 50px;
            flex-direction: column;
        }
    }
}