.text-zone{
    padding: 140px;
    background-color: rgb(24, 24, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: 'Helvetica neu';
        font-weight: bolder;
        font-size: 60px;
        margin-left: 150px;
        padding: 50px;

        
        .animated-text{
            
            color: rgb(193, 129, 26);
            
            }
        p{
            font-size: 16px;
        }
        .contact-button{
            margin-left: 45px;
            font-size: 10px;
            font-weight: bold;
            color: rgb(13, 72, 86) ;
            background-color: #9bb7bd;
            padding: 5px 30px;
            border:1px solid rgb(13, 72, 86) ;
            transition: 0.3s ease;
            &:hover{
                background-color: rgb(96, 146, 159);
                color: #ffff;
            }
        }

    }
    .techstack-icon {
            
           .anchor-icon{
              padding: 20px;
              font-size: 35px; 
               
              
           }
             
        
    }
      
   
}
@media(max-width:768px){
    .text-zone{
        
        padding: 140px 80px;;
        flex-direction: column;
        h1{
            font-size: 40px;
            margin-left: 0;
            padding: 25px;

            .contact-button{
                margin-left: 35px;
            }
            
        }
        .techstack-icon{
          display: flex;
          flex-wrap: wrap; 
          justify-content: center;
          align-items: center;
          max-width: 400px;
               .anchor-icon{
                margin-top: 20px;
                padding: 10px;
                font-size: 25px; 
      
               }
        
        
    }
    }
}
